@import "tailwindcss";
.bg-gradient-custom {
  background: linear-gradient(
    to bottom,
    #12151a 0%,
    #12151a 40%,
    #2b0707 95%,
    #310101 100%
  );
}
.red-shadow {
  text-shadow: 0 2px 4px rgba(255, 0, 0, 0.8);
}

#mobileMenu.menu-open a {
  opacity: 1 !important;
  transform: translateY(70px) !important;
  pointer-events: auto;
}

#mobileMenu.menu-open a:nth-child(1) {
  transition-delay: 0.05s;
}
#mobileMenu.menu-open a:nth-child(2) {
  transition-delay: 0.1s;
}
#mobileMenu.menu-open a:nth-child(3) {
  transition-delay: 0.15s;
}
#mobileMenu.menu-open a:nth-child(4) {
  transition-delay: 0.2s;
}
/* animations */
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(40%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInLeftBox1 {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInLeftBox2 {
  0% {
    opacity: 0;
    transform: translateX(-40%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInLeftBox3 {
  0% {
    opacity: 0;
    transform: translateX(-60%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInLeftBox4 {
  0% {
    opacity: 0;
    transform: translateX(-80%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* offer anims */
@keyframes fadeInDownOffer1 {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDownOffer2 {
  0% {
    opacity: 0;
    transform: translateY(-40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDownOffer2 {
  0% {
    opacity: 0;
    transform: translateY(-40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDownOffer3 {
  0% {
    opacity: 0;
    transform: translateY(-60%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDownOffer4 {
  0% {
    opacity: 0;
    transform: translateY(-80%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-1.animate {
  animation: fadeInLeftBox1 1.5s ease forwards;
  animation-delay: 0s;
}

.fade-in-2.animate {
  animation: fadeInLeftBox2 1.5s ease forwards;
  animation-delay: 1s;
}

.fade-in-3.animate {
  animation: fadeInLeftBox3 1.5s ease forwards;
  animation-delay: 2s;
}

.fade-in-4.animate {
  animation: fadeInLeftBox4 1.5s ease forwards;
  animation-delay: 3s;
}
.fade-in-1 {
  opacity: 0;
  transform: translateX(-20%);
}
.fade-in-2 {
  opacity: 0;
  transform: translateX(-40%);
}
.fade-in-3 {
  opacity: 0;
  transform: translateX(-60%);
}
.fade-in-4 {
  opacity: 0;
  transform: translateX(-80%);
}
.fade-in-offer-1 {
  opacity: 0;
  transform: translateY(-20%);
}
.fade-in-offer-2 {
  opacity: 0;
  transform: translateY(-40%);
}
.fade-in-offer-3 {
  opacity: 0;
  transform: translateY(-60%);
}
.fade-in-offer-4 {
  opacity: 0;
  transform: translateY(-80%);
}
.fade-in-offer-1.animate {
  animation: fadeInDownOffer1 1s ease forwards;
  animation-delay: 0s;
}

.fade-in-offer-2.animate {
  animation: fadeInDownOffer2 1s ease forwards;
  animation-delay: 0.75s;
}

.fade-in-offer-3.animate {
  animation: fadeInDownOffer3 1s ease forwards;
  animation-delay: 1.5s;
}

.fade-in-offer-4.animate {
  animation: fadeInDownOffer4 1s ease forwards;
  animation-delay: 2.5s;
}

.fade-in-right,
.fade-in-left,
.fade-in-down,
.fade-in-up {
  opacity: 0;
}

.fade-in-right.animate {
  animation: fadeInRight 1s ease-out forwards;
}

.fade-in-left.animate {
  animation: fadeInLeft 1s ease-out forwards;
}

.fade-in-down.animate {
  animation: fadeInDown 1s ease-out forwards;
}
.fade-in-up.animate {
  animation: fadeInUp 1s ease-out forwards;
}
#menuToggle i {
  transition: transform 0.4s ease, opacity 0.4s ease;
  display: inline-block;
}

/* twist anim */
#menuToggle.open i {
  transform: rotate(180deg);
  opacity: 0.8;
}
